<%- include('head.ejs') %>
<%- include('sidebar.ejs') %>
<div class="w-full lg:ps-64">
    <div class="max-w-4xl px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
        <div class="bg-white border rounded-xl shadow-sm sm:flex">
            <div class="flex-shrink-0 relative w-full rounded-t-xl overflow-hidden pt-[40%] sm:rounded-s-xl sm:max-w-60 md:rounded-se-none md:max-w-xs">
            <img class="size-full absolute top-0 start-0 object-cover" src="/uploads/gedung/<%= gedung.gambar_gedung %>" alt="gambar_gedung">
            </div>
            <div class="flex flex-wrap">
            <div class="p-4 flex flex-col h-full sm:p-7">
                <h3 class="text-lg font-bold text-gray-800">
                <%= gedung.nama_gedung %>
                </h3>
                <p class="mt-1 text-gray-500">
                <%= gedung.alamat %>
                </p>
                <div class="mt-5 sm:mt-auto">
                <p class="text-xs text-gray-500">
                    Last updated 
                </p>
                <a class="mt-2 py-2 px-3 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none" href="/admin/daftar-gedung">
                    Kembali
                </a>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
<%- include('footer.ejs') %>